extends layout

block content
  section
    div.new-todo-wrapper
      form(name='main', id="new-form", method='post', accept-charset='utf-8' )
        input(type='text', name='content', autofocus="autofocus", class='new-input')
        .btn-wrapper
          -if(title=='index')
            #publishBtn.toolBtn Save
          .toolBtn(id="timeBtn", onclick="showDeadlines();") Time
          .toolBtn(id="notesBtn", onclick="showComments();") Notes

    form(action='/save/', name='myform2', method='post', class='todoList', id='todoListId', accept-charset='utf-8')

  script.
    $(document).ready(function(){
      if ($.cookie("showComments") === "no") {
        $('#notesBtn').css("color", "#9abb94");
      }
      if ($.cookie("showDeadlines") === "no") {
        $('#timeBtn').css("color", "#9abb94");
      }
      $("#publishBtn").click(function(){
        window.onbeforeunload = null;
      });
      window.onbeforeunload = function() {
        var container = document.getElementById("todoListId");
        if (container.childNodes.length > 0){
            return "You have modified your monkey-list, reloading the page will reset all your changes.";
        }
      };

      $(".todoList").sortable({axis: "y",});
      $(".todoList").disableSelection();

      $("section").resizable({
        handles: "e"
        });

      $("#new-form").submit(function(event){
        event.preventDefault();
        var obj = $(this).serializeObject();
        if ($(".todo-wrapper").length < 30){
          appendTodo1(obj.content);
        }
        else{
        alert("Number of todo's exceeded!");
        }
      });
    });