//@import "html5-reset"
@import "yui-reset"

textarea, input
  overflow-y hidden
  resize none
  padding 0
  margin 0
  border none
  outline none
  box-sizing border-box
  //line-height 0px
  vertical-align middle
  display block


body, html
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0
  padding 0
  height 100%
  min-height 100%
  width 100%
  background white

a
  outline none
  text-decoration: none
  display block
  color #fff

$w = 50%
$minw = 400px

header
  position relative
  margin 0 auto
  padding 0
  width 50%
  min-width $minw
  height 62px
  //background #f6f6f6
  //background #70c782
  //background-image url(/images/gradient.png)
  border-shadow 1px #7e9eac solid
  border-bottom 1px solid #e5e5e5

div.logo
  position relative
  top 15px



.btn-wrapper
  position absolute
  right 0
  top 50px
  height 50%
  bottom 15px
  width 210px

.button, .toolBtn
  width 30px
  height 100%
  float right
  margin-left 10px
  //background #7ec172
  font 1em Helvetica
  border none
  cursor pointer
  color #a1df95

#publishBtn
  color #00b7ff


// Section
div.ui-datepicker
  z-index 100 !important

section
  position relative
  top 20px
  width 45%
  min-width $minw
  max-width 80%
  margin 0 auto

.todoList
  position relative
  width 100%
  margin-top 45px
  height auto
  box-sizing border-box

$entry-height = 45px
$entry-padding = 3px;
$bd = 15px



// NEW TODO

.new-todo-wrapper
  position relative
  width 100%
  height $entry-height

form
  width 100%
  height 100%
  //box-sizing border-box
  //padding 5px


input.new-input
  width: 100%
  height: 100%
  font 1.2em verdana
  color #898989
  padding-left 8px
  padding-right 8px
  border: 1px solid #dadada;



// EXISTING TODO

.todo-wrapper
  position relative
  width 100%
  margin-top 25px
  padding 8px
  //min-height 28px
  background #f6f6f6
  background #f0f0f0
  box-sizing border-box
  z-index 5
  border none
  cursor move

textarea.entryText, textarea.commentText, input.deadlineText
  background #f9f9f9
  position relative
  width 100%
  min-height 28px
  margin 0 auto
  color #7fbed8
  color #8e8d8d
  font 1em arial
  padding 6px 6px 0 6px
  border: 1px solid #e3e3e3;
  box-sizing border-box


textarea.commentText
  margin-top 8px
  color #8e8d8d

input.deadlineText
  height 20px
  width 140px
  margin-top 8px
  margin-left 0px
  color #8e8d8d
  padding 0
  padding-left 5px
  font 0.9em

.deadlineHelper
  width auto
  min-width 90%
  height 38px
  position absolute
  bottom -2px
  left 156px
  background #fff

.todoFinished
  text-decoration line-through

// Tool Box
.tool-box
  position absolute
  top -19px
  right 0
  width ($bd*4+36px)
  height ($bd + 4px)
  background #f0f0f0
  display none
  border-top-left-radius 15px
  border-top-right-radius 15px

.statusBtn, .commentBtn, .deadlineBtn, .deleteBtn
  position absolute
  cursor pointer

.statusBtn
  right (3*$bd + 26px)
  color #8ac77f
  font-size 1.6 em

.commentBtn
  right (2*$bd + 20px)
  font-weight 600
  color #71c2d9
  line-height 1.5 em
  font-size 1.4 em

.deadlineBtn
  right (1*$bd + 14px)
  font-weight 600
  color #7787d6
  line-height 1.5 em
  font-size 1.4 em

.deleteBtn
  top 2px
  right (0*$bd + 8px)
  color #d4827e
  font-size 1.5 em

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline none
  border-color: #c1dde8;
  box-shadow: 0 0 1px #c1dde8;
}

// Footer

.about
  position absolute
  right 0
  bottom 10px
  width 50px
  height 20px
  color #00b7ff
  font 1.2em arial

footer
  position absolute
  bottom 0
  left 50%
  width 170px
  height 50px
  background red
  margin 0 auto
  color #7ec172

// Timepicker

div.ui-datepicker
  font-size 10px

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.button, .toolBtn
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;